html{
    background-image: url("media/Background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #878865;
    text-align: left;
}
.title{
    font-weight: bold;
    color: rgb(131, 1, 1);
}
a{
    color: burlywood;
}
